OPENAI_API_KEY=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
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_SUGGESTION_TTL=3600
